body {
    background-color: #0E0B16;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/*
HEADER
*/

.header-name {   
    color: #E7DFDD;
    font-size: 60px;
    text-align: center;
}


/*
NAVIGATION BAR
*/

.horizontal-menu {
    display: flex;
    justify-content: center;
    background-color: #4717F6;
}

.horizontal-menu ul {
    display: flex;
    list-style-type: none;
}



.horizontal-menu a {
    text-decoration: none;
    color: #E7DFDD; /* optional: set text color */
    margin-right: 50px;
    font-size: 20px;
}

/*
IMAGES
*/

.image-line {
    width: 100%; /* Set the width of the container */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent images from wrapping */
    -ms-overflow-style: none; /* Hide scrollbar in IE + Edge*/
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.image-line::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}


.image-wrapper {
    display: inline-block; /* Ensure images are displayed horizontally */
}

.image-wrapper img {
    width: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Optional: Add spacing between images */
}