:root {
    --bground-color: #0E0B16;
    --txt-color: #E7DFDD;
    --nav-color: #4717F6;
    --highlight-color: #A239CA;
    
    --main-font: 'Inter', sans-serif;

    --left-padding: 100px;
}



body {
    background-color: var(--bground-color);
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}


/*
HEADERS
*/

#header-name {   
    color: var(--txt-color);
    font-size: 40px;
    font-weight: 550;
    
    letter-spacing: 2px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

#subtitle-header-top {
    color: var(--txt-color);
    font-size: 14px;
    text-align: center;
    margin-bottom: 2px; 
    margin-top: 5px;
    font-weight: 100;
}

#subtitle-header-bottom {
    color: var(--txt-color);
    font-size: 25px;
    text-align: center;
    margin-bottom: 2px; 
    margin-top: 2px;
    font-weight: 50;
}



/*
NAVIGATION BAR
*/

.horizontal-menu {
    display: flex;
    justify-content: center; /* Center horizontaly */
    align-items: center;    /* Center vertically */
    background-color: var(--nav-color);
    height: 50px;
    
}

.horizontal-menu ul {
    display: flex;
    list-style-type: none;
}



.horizontal-menu a {
    text-decoration: none;
    color: var(--txt-color); /* optional: set text color */
    margin-right: 50px;
    font-size: 20px;
}

/*
IMAGES
*/

.image-line {
    width: 100%; /* Set the width of the container */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent images from wrapping */
    -ms-overflow-style: none; /* Hide scrollbar in IE + Edge*/
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.image-line::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}


.image-wrapper {
    display: inline-block; /* Ensure images are displayed horizontally */
}

.image-wrapper img {
    width: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Optional: Add spacing between images */
}


/*
SECTION TITLES
*/
.custom-title {
    position: relative;
    display: inline-block;
    width: calc(100% - var(--left-padding));
    color: var(--txt-color);
    padding-left: var(--left-padding);
    font-size: 50px;
    font-weight: 569;
    letter-spacing: 2px;

}
  
.custom-title::after {
    content: "";
    position: absolute;
    width: 220px;
    height: 4px;
    left: var(--left-padding);
    bottom: 3px;
    background-color: var(--txt-color);
    border-radius: 10%;
    z-index: 0;
    
} 

.custom-title::before {
    content: "";
    position: absolute;
    left: calc(var(--left-padding) - 10px);
    bottom: 0px; /* Adjust as needed */
    width: 240px; /* Adjust as needed */
    height: 16px; /* Height of the "involver" rectangle */
    background-color: var(--highlight-color); /* Color of the "involver" rectangle */
    border-radius: 2px;
    z-index: -1;
}


/*
TEXT
*/

.text-block {
    color: var(--txt-color);
    font-size: 20px;
    padding-left: var(--left-padding);
    padding-right: var(--left-padding);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5;
}